# Discussion 01

Running the below cells creates the sqlite3 database `sqlite3:///books.db`.

In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
import make_books

## Discussion Questions

Database schema:

```
Books (book id, book name, year, genre, author id, times trending)
Authors (author id, author name, publishing company, debut year)
Awards (award id, book id, author name)
```

Run the below cells to start a sql connection.

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///books.db

## 1) SQL Review
Suppose a full database schema is as follows:
- books (book id, book name, year, genre, author id, times trending)
- authors (author id, author name, publishing company, debut year)
- awards (award id, book id, award name, author name)

Below is how you will be writing your SQL queries with ["SQL magic"](https://www.datacamp.com/tutorial/sql-interface-within-jupyterlab).

In [ ]:
%%sql
-- your code here --
;

Write a SQL query to accomplish each task below:


**1. Select only the book names and years from the books table.**

In [ ]:
%%sql
-- your code here --
;

**2. Find the names of all authors whose debut years are in the 21st century (defined as after 2000).**

In [ ]:
%%sql
-- your code here --
;

**3. Find the names of all authors who released a sci-fi genre book in 1974 that won an award.**

In [ ]:
%%sql
-- your code here --
;

## 2) SQL Aggregation Review
In some cases, we may need to accumulate results by combining multiple rows via aggregation. We use the same schema as in Section 2.

**4. Write a query that calculates the total number of books written by author Agatha Christie.**

In [ ]:
%%sql
-- your code here --
;

**5. The group-by construct lets us compute aggregates for different chunks of a relation. Find the total number of books released per genre. Donâ€™t include genres with a count less than 2. (Hint: HAVING)**

In [ ]:
%%sql
-- your code here --
;

## 3) Optional Questions

**6. Find the names of the 5 books that trended the least, ordered from least to most. Break ties by book name in alphabetical order.**

In [ ]:
%%sql
-- your code here --
;

**7. *Challenge:* Write a query that computes the total times each author has had a trending book. (Hint: you will need to use a join for this as well.)**

In [ ]:
%%sql
-- your code here --
;