# Lecture 11: GNIS

In [2]:
import numpy as np
import pandas as pd

# GNIS

This notebook transforms the existing [Geographics Names Information Systems (GNIS)](https://www.usgs.gov/core-science-systems/ngp/board-on-geographic-names/download-gnis-data) national zip file.

We have provided a subset of the sql database for you in `data/national.sql`.

If you'd like to make your own version of this database, see the end of this notebook. Note: Because of its size, we don't recommend building the GNIS SQL database from scratch on DataHub.

In [3]:
!psql -h localhost -d gnis -c 'SELECT pg_terminate_backend(pg_stat_activity.pid) FROM pg_stat_activity WHERE datname = current_database() AND pid <> pg_backend_pid();'
!psql -h localhost -c 'DROP DATABASE IF EXISTS gnis'
!psql -h localhost -c 'CREATE DATABASE gnis' 
!psql -h localhost -d gnis -f data/gnis.sql

 pg_terminate_backend
----------------------
 t
(1 row)

DROP DATABASE
CREATE DATABASE
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
SET
SET
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
COPY 3195
COPY 11533
CREATE INDEX

In [4]:
%reload_ext sql
%sql postgresql://localhost:5432/gnis
%config SqlMagic.displaylimit = 15

* View schema in `psql`
* View some rows below

In [5]:
%sql SELECT COUNT(*) FROM national;

Running query in 'postgresql://localhost:5432/gnis'

1 rows affected.

+-------+
| count |
+-------+
| 11533 |
+-------+

In [6]:
%sql SELECT * FROM national WHERE county_name = 'Alameda';

Running query in 'postgresql://localhost:5432/gnis'

21 rows affected.

+------------+------------------------------------------+---------------+-------------+---------------+-------------+----------------+-----------------+---------------+--------------+---------------+----------------+-----------------+----------------+-----------------+-----------+------------+-----------------+--------------+-------------+
| feature_id |               feature_name               | feature_class | state_alpha | state_numeric | county_name | county_numeric | primary_lat_dms | prim_long_dms | prim_lat_dec | prim_long_dec | source_lat_dms | source_long_dms | source_lat_dec | source_long_dec | elev_in_m | elev_in_ft |     map_name    | date_created | date_edited |
+------------+------------------------------------------+---------------+-------------+---------------+-------------+----------------+-----------------+---------------+--------------+---------------+----------------+-----------------+----------------+-----------------+-----------+------------+-----------------+--------------+-------------+
|   218316   |              Apperson Creek              |     Stream    |      CA     |       6       |   Alameda   |      1.0       |     373349N     |    1215000W   |  37.5635453  |  -121.8332887 |    373232N     |     1214804W    |   37.5422222   |   -121.8011111  |   148.0   |   486.0    | La Costa Valley |  01/19/1981  |     None    |
|   225998   |          Irvington High School           |     School    |      CA     |       6       |   Alameda   |      1.0       |     373126N     |    1215801W   |  37.523814   |  -121.9670659 |      None      |       None      |      None      |       None      |    13.0   |    43.0    |      Niles      |  01/19/1981  |  03/31/2021 |
|   226951   |         Laurel Elementary School         |     School    |      CA     |       6       |   Alameda   |      1.0       |     374734N     |    1221147W   |  37.792899   |  -122.1964288 |      None      |       None      |      None      |       None      |    68.0   |   223.0    |   Oakland East  |  06/14/2000  |  03/14/2021 |
|   229367   |         Murray Elementary School         |     School    |      CA     |       6       |   Alameda   |      1.0       |     374318N     |    1215557W   |  37.721801   |  -121.9326269 |      None      |       None      |      None      |       None      |   112.0   |   367.0    |      Dublin     |  01/19/1981  |  03/14/2021 |
|   235581   |             Strawberry Creek             |     Stream    |      CA     |       6       |   Alameda   |      1.0       |     375221N     |    1221443W   |  37.8724258  |  -122.2452464 |    375251N     |     1221354W    |   37.8807588   |   -122.2316349  |   154.0   |   505.0    |   Oakland East  |  01/19/1981  |  08/31/2016 |
|  1654274   |           Hayward Golf Course            |     Locale    |      CA     |       6       |   Alameda   |      1.0       |     373726N     |    1220250W   |  37.6238222  |  -122.0471843 |      None      |       None      |      None      |       None      |    5.0    |    16.0    |      Newark     |  01/19/1981  |     None    |
|  1664964   |           KOFY-AM (San Mateo)            |     Tower     |      CA     |       6       |   Alameda   |      1.0       |     374934N     |    1221842W   |  37.8260385  |  -122.3116366 |      None      |       None      |      None      |       None      |    2.0    |    7.0     |   Oakland West  |  07/01/1994  |     None    |
|  1670278   |              Lake Elizabeth              |      Lake     |      CA     |       6       |   Alameda   |      1.0       |     373255N     |    1215742W   |  37.5487056  |  -121.9617554 |      None      |       None      |      None      |       None      |    16.0   |    52.0    |      Niles      |  11/09/1995  |  03/07/2019 |
|  1692819   | California School for the Deaf - Fremont |     School    |      CA     |       6       |   Alameda   |      1.0       |     373334N     |    1215747W   |  37.5593966  |  -121.9631843 |      None      |       None      |      None      |       None      |    20.0   |    66.0    |      Niles      |  05/08/1996  |  09/16/2016 |
|  1692863   |           J A Freitas Library            |    Building   |      CA     |       6       |   Alameda   |      1.0       |     374335N     |    1220925W   |  37.7263185  |  -122.1569101 |      None      |       None      |      None      |       None      |    19.0   |    62.0    |   San Leandro   |  05/08/1996  |     None    |
|  1693010   |            Alice Arts Center             |    Building   |      CA     |       6       |   Alameda   |      1.0       |     374812N     |    1221557W   |  37.8032611  |  -122.2658025 |      None      |       None      |      None      |       None      |    11.0   |    36.0    |   Oakland West  |  05/08/1996  |     None    |
|  1961816   |    New Pilgrim Congregational Church     |     Church    |      CA     |       6       |   Alameda   |      1.0       |     374622N     |    1221131W   |  37.7727061  |  -122.1919115 |      None      |       None      |      None      |       None      |    21.0   |    69.0    |   Oakland East  |  09/11/2002  |     None    |
|  1961871   |      First Southern Baptist Church       |     Church    |      CA     |       6       |   Alameda   |      1.0       |     374657N     |    1221401W   |  37.7824282  |  -122.2335796 |      None      |       None      |      None      |       None      |    11.0   |    36.0    |   Oakland East  |  09/11/2002  |     None    |
|  1962002   |     First Church of Christ Scientist     |     Church    |      CA     |       6       |   Alameda   |      1.0       |     374353N     |    1220931W   |  37.7313183  |  -122.1585769 |      None      |       None      |      None      |       None      |    19.0   |    62.0    |   San Leandro   |  09/11/2002  |     None    |
|  2087391   |        First Presbyterian Church         |     Church    |      CA     |       6       |   Alameda   |      1.0       |     373254N     |    1220238W   |  37.5483333  |  -122.0438889 |      None      |       None      |      None      |       None      |    7.0    |    23.0    |      Newark     |  05/22/2006  |     None    |
+------------+------------------------------------------+---------------+-------------+---------------+-------------+----------------+-----------------+---------------+--------------+---------------+----------------+-----------------+----------------+-----------------+-----------+------------+-----------------+--------------+-------------+
Truncated to displaylimit of 15.

In [7]:
%%sql
SELECT *
FROM national TABLESAMPLE BERNOULLI(10);

Running query in 'postgresql://localhost:5432/gnis'

1126 rows affected.

+------------+----------------------+-----------------+-------------+---------------+-------------+----------------+-----------------+---------------+--------------+---------------+----------------+-----------------+----------------+-----------------+-----------+------------+------------------------+--------------+-------------+
| feature_id |     feature_name     |  feature_class  | state_alpha | state_numeric | county_name | county_numeric | primary_lat_dms | prim_long_dms | prim_lat_dec | prim_long_dec | source_lat_dms | source_long_dms | source_lat_dec | source_long_dec | elev_in_m | elev_in_ft |        map_name        | date_created | date_edited |
+------------+----------------------+-----------------+-------------+---------------+-------------+----------------+-----------------+---------------+--------------+---------------+----------------+-----------------+----------------+-----------------+-----------+------------+------------------------+--------------+-------------+
|    3143    |     Comar Spring     |      Spring     |      AZ     |       4       |    Navajo   |      17.0      |     353151N     |    1102458W   |  35.5308428  |  -110.4162424 |      None      |       None      |      None      |       None      |   1732.0  |   5682.0   |   Egloffstein Butte    |  02/08/1980  |  04/18/2011 |
|    3651    |      Cupe Seep       |      Spring     |      AZ     |       4       |    Mohave   |      15.0      |     361357N     |    1132004W   |  36.2323847  |  -113.334471  |      None      |       None      |      None      |       None      |   1265.0  |   4150.0   |     Whitmore Point     |  02/08/1980  |  04/18/2011 |
|    4855    |     Fresnal Wash     |      Stream     |      AZ     |       4       |    Graham   |      9.0       |     324247N     |    1101159W   |  32.7131243  |  -110.1998064 |    324444N     |     1100603W    |   32.7456241   |   -110.100916   |   1217.0  |   3993.0   |      Eureka Ranch      |  02/08/1980  |     None    |
|    8204    |      Monk Draw       |      Valley     |      AZ     |       4       |   Cochise   |      3.0       |     322129N     |    1093707W   |  32.3579315  |  -109.6186159 |    322618N     |     1094431W    |   32.4383698   |   -109.7420297  |   1214.0  |   3983.0   |         Luzena         |  02/08/1980  |  08/21/2021 |
|    8388    |       Mud Tank       |    Reservoir    |      AZ     |       4       |    Apache   |      1.0       |     333627N     |    1094302W   |  33.6075041  |  -109.7173476 |      None      |       None      |      None      |       None      |   2125.0  |   6972.0   |      Maverick SW       |  02/08/1980  |  03/19/2019 |
|    9927    |     Rainbow Well     |       Well      |      AZ     |       4       |    Graham   |      9.0       |     330751N     |    1093730W   |  33.1308939  |  -109.6250802 |      None      |       None      |      None      |       None      |   1516.0  |   4974.0   |   Park Creek Cabins    |  02/08/1980  |  01/03/2018 |
|   10399    |       Rock Gap       |       Gap       |      AZ     |       4       |    Navajo   |      17.0      |     363520N     |    1101319W   |  36.5888881  |  -110.2220747 |      None      |       None      |      None      |       None      |   2251.0  |   7385.0   |       Owl Spring       |  02/08/1980  |     None    |
|   13040    |  Union High School   |      School     |      AZ     |       4       |   Maricopa  |      13.0      |     332706N     |    1120402W   |  33.4517105  |  -112.0670927 |      None      |       None      |      None      |       None      |   333.0   |   1093.0   |        Phoenix         |  02/08/1980  |     None    |
|   24774    |    Central Ridge     | Populated Place |      AZ     |       4       |   Maricopa  |      13.0      |     331910N     |    1115312W   |  33.3194929  |  -111.8865296 |      None      |       None      |      None      |       None      |   364.0   |   1194.0   |       Guadalupe        |  06/27/1984  |     None    |
|   27581    |     Chilson Camp     |      Locale     |      AZ     |       4       |   Yavapai   |      25.0      |     340504N     |    1112933W   |  34.0844817  |  -111.492638  |      None      |       None      |      None      |       None      |   1726.0  |   5663.0   |     Mazatzal Peak      |  02/08/1980  |     None    |
|   27722    |      Clino Tank      |    Reservoir    |      AZ     |       4       |    Navajo   |      17.0      |     341409N     |    1101908W   |  34.2359182  |  -110.3189522 |      None      |       None      |      None      |       None      |   2063.0  |   6768.0   | Limestone Canyon North |  02/08/1980  |  03/20/2019 |
|   28394    | Deer Spring Mountain |      Summit     |      AZ     |       4       |    Navajo   |      17.0      |     340039N     |    1095831W   |  34.0107604  |  -109.9752047 |      None      |       None      |      None      |       None      |   2269.0  |   7444.0   |      Indian Pine       |  02/08/1980  |  08/16/2021 |
|   28519    |      Dogie Tank      |    Reservoir    |      AZ     |       4       |   Yavapai   |      25.0      |     345544N     |    1120004W   |    34.929    |  -112.0009754 |      None      |       None      |      None      |       None      |   1417.0  |   4649.0   |     Sycamore Basin     |  02/08/1980  |  03/20/2019 |
|   28775    |  East Miller Canyon  |      Valley     |      AZ     |       4       |   Coconino  |      5.0       |     343034N     |    1111501W   |  34.5094108  |  -111.250262  |    342637N     |     1111659W    |   34.4435497   |   -111.2830732  |   2104.0  |   6903.0   |      Long Valley       |  02/08/1980  |  08/22/2021 |
|   29893    |    Henrietta Mine    |       Mine      |      AZ     |       4       |   Yavapai   |      25.0      |     342741N     |    1121729W   |  34.461415   |  -112.2912751 |      None      |       None      |      None      |       None      |   1580.0  |   5184.0   |    Poland Junction     |  02/08/1980  |     None    |
+------------+----------------------+-----------------+-------------+---------------+-------------+----------------+-----------------+---------------+--------------+---------------+----------------+-----------------+----------------+-----------------+-----------+------------+------------------------+--------------+-------------+
Truncated to displaylimit of 15.

# Numerical Granularity

In [8]:
%sql SELECT elev_in_m FROM National LIMIT 2;

Running query in 'postgresql://localhost:5432/gnis'

2 rows affected.

+-----------+
| elev_in_m |
+-----------+
|   931.0   |
|   2707.0  |
+-----------+

In [9]:
%%sql
SELECT elev_in_m, 
    (elev_in_m / 100)::INTEGER AS quantized,
    ((elev_in_m / 100)::INTEGER) * 100 AS round_to_100,
    SUBSTRING(elev_in_m::TEXT, 1, 2),
    CONCAT(SUBSTRING(elev_in_m::TEXT, 1, 2), '00') AS substring2
FROM National
LIMIT 5;

Running query in 'postgresql://localhost:5432/gnis'

5 rows affected.

+-----------+-----------+--------------+-----------+------------+
| elev_in_m | quantized | round_to_100 | substring | substring2 |
+-----------+-----------+--------------+-----------+------------+
|   931.0   |     9     |     900      |     93    |    9300    |
|   2707.0  |     27    |     2700     |     27    |    2700    |
|   275.0   |     3     |     300      |     27    |    2700    |
|   1685.0  |     17    |     1700     |     16    |    1600    |
|   1354.0  |     14    |     1400     |     13    |    1300    |
+-----------+-----------+--------------+-----------+------------+

In [10]:
%config SqlMagic.named_parameters=True

%%sql
/* does not run in jupysql b/c of <<. copy into psql  */
    SELECT elev_in_m,
    (16::INTEGER::BIT(12)) AS bit12, 
    (16::INTEGER::BIT(12)) << 3
FROM national
LIMIT 5;

In [11]:
right_shift = '>>'
left_shift = '<<'

In [12]:
%%sql
/* Since jupysql does not like bitshifts, we can fake it with string interoplation. */
SELECT elev_in_m,
    (16::INTEGER::BIT(12)) AS bit12,
    (16::INTEGER::BIT(12)) {{left_shift}} 3
FROM national
LIMIT 5;

Running query in 'postgresql://localhost:5432/gnis'

5 rows affected.

+-----------+--------------+--------------+
| elev_in_m |    bit12     |   ?column?   |
+-----------+--------------+--------------+
|   931.0   | 000000010000 | 000010000000 |
|   2707.0  | 000000010000 | 000010000000 |
|   275.0   | 000000010000 | 000010000000 |
|   1685.0  | 000000010000 | 000010000000 |
|   1354.0  | 000000010000 | 000010000000 |
+-----------+--------------+--------------+

In [13]:
%%sql
EXPLAIN (verbose true)
WITH shifts AS (
    SELECT elev_in_m,
       (elev_in_m::integer::bit(12)) AS bit12,
       (elev_in_m::integer::bit(12) {{right_shift}} 8) AS rightshifted,
       ((elev_in_m::integer::bit(12) {{right_shift}} 8) {{left_shift}} 8)::integer AS round_to_256,
       ((elev_in_m::integer::bit(12) {{right_shift}} 8) {{left_shift}} 8)::integer % 256 AS test
  FROM national
)
SELECT COUNT(DISTINCT elev_in_m) AS elevation_meters_count,
       COUNT(DISTINCT bit12) AS bit12_count,
       COUNT(DISTINCT rightshifted) AS rightshift_count,
       COUNT(DISTINCT round_to_256) AS rounded_count
  FROM shifts;

Running query in 'postgresql://localhost:5432/gnis'

4 rows affected.

+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                                                                                QUERY PLAN                                                                                                                                                                                                                                                               |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                                                             Aggregate  (cost=799.99..800.00 rows=1 width=32)                                                                                                                                                                                                                                            |
|                                                                                                                                      Output: count(DISTINCT "national".elev_in_m), count(DISTINCT (("national".elev_in_m)::integer)::bit(12)), count(DISTINCT ((("national".elev_in_m)::integer)::bit(12) >> 8)), count(DISTINCT ((((("national".elev_in_m)::integer)::bit(12) >> 8) << 8))::integer)                                                                                                                                   |
|                                                                                                                                                                                                                                 ->  Seq Scan on public."national"  (cost=0.00..396.33 rows=11533 width=8)                                                                                                                                                                                                                               |
|         Output: "national".feature_id, "national".feature_name, "national".feature_class, "national".state_alpha, "national".state_numeric, "national".county_name, "national".county_numeric, "national".primary_lat_dms, "national".prim_long_dms, "national".prim_lat_dec, "national".prim_long_dec, "national".source_lat_dms, "national".source_long_dms, "national".source_lat_dec, "national".source_long_dec, "national".elev_in_m, "national".elev_in_ft, "national".map_name, "national".date_created, "national".date_edited |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

# Demo 1: Roll-up / Drill-down Practice

Let's start with county-level data on elevations:

In [14]:
%%sql
SELECT state_numeric, county_numeric,
       avg(elev_in_m),
       stddev(elev_in_m), count(*)
FROM national TABLESAMPLE BERNOULLI(10)
GROUP BY state_numeric, county_numeric;

Running query in 'postgresql://localhost:5432/gnis'

888 rows affected.

+---------------+----------------+--------------------+--------------------+-------+
| state_numeric | county_numeric |        avg         |       stddev       | count |
+---------------+----------------+--------------------+--------------------+-------+
|       1       |      33.0      |       132.0        |        None        |   1   |
|       53      |      73.0      |        46.0        |        None        |   1   |
|       29      |     169.0      |       378.0        |        None        |   1   |
|       36      |     119.0      |        23.5        | 12.020815280171307 |   2   |
|       36      |      65.0      | 165.66666666666666 | 15.88500340992514  |   3   |
|       37      |      61.0      |        15.0        | 16.97056274847714  |   2   |
|       29      |      31.0      |       114.0        |        None        |   1   |
|       20      |      55.0      |       863.0        |        None        |   1   |
|       45      |      45.0      |       283.0        |        None        |   1   |
|       28      |      47.0      |        7.0         |        None        |   1   |
|       1       |      1.0       |        60.0        |        None        |   1   |
|       31      |      95.0      |       405.0        |        None        |   1   |
|       30      |     105.0      |       879.0        | 74.95331880577403  |   2   |
|       16      |      5.0       |       1390.0       |        None        |   1   |
|       1       |      27.0      |       306.0        | 29.698484809834994 |   2   |
+---------------+----------------+--------------------+--------------------+-------+
Truncated to displaylimit of 15.

**Roll up** to state level.
* We save the view as `state_elevations` for later...

In [15]:
%%sql
DROP VIEW IF EXISTS state_elevations;

CREATE VIEW state_elevations AS
SELECT state_numeric,
       avg(elev_in_m),
       stddev(elev_in_m), count(*)
FROM national 
GROUP BY state_numeric
;

Running query in 'postgresql://localhost:5432/gnis'

++
||
++
++

In [16]:
%sql SELECT * FROM state_elevations;

Running query in 'postgresql://localhost:5432/gnis'

59 rows affected.

+---------------+--------------------+--------------------+-------+
| state_numeric |        avg         |       stddev       | count |
+---------------+--------------------+--------------------+-------+
|       54      | 363.6190476190476  | 199.26650831834746 |  204  |
|       29      | 246.09152542372883 |  80.2483078596168  |  343  |
|       68      | 6.666666666666667  |  7.99166232186187  |   14  |
|       4       | 1315.3798076923076 | 672.6305522946129  |  208  |
|       34      | 40.08943089430894  | 59.88896941733248  |  123  |
|       51      | 254.55197132616487 | 260.54513270095333 |  283  |
|       70      | 18.333333333333332 | 31.75426480542942  |   3   |
|       10      | 22.11111111111111  | 28.015563440198648 |   27  |
|       35      | 1756.8467432950192 | 471.8002505531821  |  273  |
|       45      | 122.83240223463687 | 123.96059930539184 |  181  |
|       6       | 516.7286432160804  |  684.895132373804  |  599  |
|       39      | 262.80258899676375 | 57.78124212343727  |  328  |
|       69      | 90.66666666666667  | 82.82189726555814  |   6   |
|       36      | 217.14150943396226 | 197.0201865875975  |  424  |
|       31      | 628.2797202797203  | 293.8114851587473  |  148  |
+---------------+--------------------+--------------------+-------+
Truncated to displaylimit of 15.

**Drill down** to include feature class.

In [17]:
%%sql
SELECT state_numeric, feature_class,
       avg(elev_in_m),
       stddev(elev_in_m), count(*)
FROM national TABLESAMPLE Bernoulli(10)
GROUP BY state_numeric, feature_class
ORDER BY count(*) DESC;

Running query in 'postgresql://localhost:5432/gnis'

560 rows affected.

+---------------+-----------------+--------------------+--------------------+-------+
| state_numeric |  feature_class  |        avg         |       stddev       | count |
+---------------+-----------------+--------------------+--------------------+-------+
|       36      |      Church     | 152.45454545454547 | 119.85938731393853 |   11  |
|       30      |       Well      | 1108.8181818181818 | 239.6041811746273  |   11  |
|       48      |      Stream     |       176.5        | 160.68067020577732 |   10  |
|       24      | Populated Place |        81.7        | 82.63850326707413  |   10  |
|       1       |      Stream     |        80.5        | 70.40241473131444  |   10  |
|       28      |      Church     |      103.125       | 45.012498264370976 |   8   |
|       48      |      School     | 304.3333333333333  | 270.47710932104155 |   8   |
|       29      | Populated Place | 190.14285714285714 | 119.83242267353826 |   8   |
|       6       |      Church     |        80.0        | 76.99350621968064  |   8   |
|       13      |      Stream     |      308.125       | 255.26761167729165 |   8   |
|       41      |      Stream     |      247.875       | 457.6924848785325  |   8   |
|       2       |      Stream     | 189.33333333333334 | 218.82199767543176 |   7   |
|       47      |     Cemetery    | 296.42857142857144 | 123.24617254754425 |   7   |
|       42      | Populated Place | 287.8333333333333  | 168.95374120352196 |   7   |
|       47      |      Church     | 205.71428571428572 | 146.9860699587031  |   7   |
+---------------+-----------------+--------------------+--------------------+-------+
Truncated to displaylimit of 15.

**(in lecture... may want to swtich to the baseball notebook for next example...)**

## Roll up with marginal distributions

In [18]:
%%sql
SELECT state_numeric,
       AVG(elev_in_m),
       STDDEV(elev_in_m), COUNT(*),
       SUM(COUNT(*)) OVER () AS total,
       COUNT(*)/SUM(COUNT(*)) OVER () AS marginal
FROM national TABLESAMPLE Bernoulli(.07)
GROUP BY state_numeric;

Running query in 'postgresql://localhost:5432/gnis'

9 rows affected.

+---------------+--------+-------------------+-------+-------+------------------------+
| state_numeric |  avg   |       stddev      | count | total |        marginal        |
+---------------+--------+-------------------+-------+-------+------------------------+
|       1       |  4.0   |        None       |   1   |   11  | 0.09090909090909090909 |
|       6       | 127.0  |        None       |   1   |   11  | 0.09090909090909090909 |
|       8       | 2537.0 | 780.6458864299485 |   2   |   11  | 0.18181818181818181818 |
|       25      |  34.0  |        None       |   1   |   11  | 0.09090909090909090909 |
|       31      | 467.0  |        None       |   1   |   11  | 0.09090909090909090909 |
|       37      |  37.0  |        None       |   1   |   11  | 0.09090909090909090909 |
|       40      | 336.0  |        None       |   1   |   11  | 0.09090909090909090909 |
|       48      | 179.5  | 94.04520189781083 |   2   |   11  | 0.18181818181818181818 |
|       51      | 713.0  |        None       |   1   |   11  | 0.09090909090909090909 |
+---------------+--------+-------------------+-------+-------+------------------------+

In [19]:
%%sql
SELECT COUNT(DISTINCT county_numeric) FROM national;

Running query in 'postgresql://localhost:5432/gnis'

1 rows affected.

+-------+
| count |
+-------+
|  291  |
+-------+

## Drill down with normally-distributed elevations:

Start with the `state_elevations` view from earlier:

In [20]:
%sql SELECT * FROM state_elevations;

Running query in 'postgresql://localhost:5432/gnis'

59 rows affected.

+---------------+--------------------+--------------------+-------+
| state_numeric |        avg         |       stddev       | count |
+---------------+--------------------+--------------------+-------+
|       54      | 363.6190476190476  | 199.26650831834746 |  204  |
|       29      | 246.09152542372883 |  80.2483078596168  |  343  |
|       68      | 6.666666666666667  |  7.99166232186187  |   14  |
|       4       | 1315.3798076923076 | 672.6305522946129  |  208  |
|       34      | 40.08943089430894  | 59.88896941733248  |  123  |
|       51      | 254.55197132616487 | 260.54513270095333 |  283  |
|       70      | 18.333333333333332 | 31.75426480542942  |   3   |
|       10      | 22.11111111111111  | 28.015563440198648 |   27  |
|       35      | 1756.8467432950192 | 471.8002505531821  |  273  |
|       45      | 122.83240223463687 | 123.96059930539184 |  181  |
|       6       | 516.7286432160804  |  684.895132373804  |  599  |
|       39      | 262.80258899676375 | 57.78124212343727  |  328  |
|       69      | 90.66666666666667  | 82.82189726555814  |   6   |
|       36      | 217.14150943396226 | 197.0201865875975  |  424  |
|       31      | 628.2797202797203  | 293.8114851587473  |  148  |
+---------------+--------------------+--------------------+-------+
Truncated to displaylimit of 15.

The `fips_counties` relation has all counties, including those not in `national`:

In [21]:
%sql SELECT * FROM fips_counties LIMIT 10;

Running query in 'postgresql://localhost:5432/gnis'

10 rows affected.

+------+-----------------+---------------+
| fips |      county     | state_numeric |
+------+-----------------+---------------+
| 1000 |     Alabama     |       1       |
| 1001 |  Autauga County |       1       |
| 1003 |  Baldwin County |       1       |
| 1005 |  Barbour County |       1       |
| 1007 |   Bibb County   |       1       |
| 1009 |  Blount County  |       1       |
| 1011 |  Bullock County |       1       |
| 1013 |  Butler County  |       1       |
| 1015 |  Calhoun County |       1       |
| 1017 | Chambers County |       1       |
+------+-----------------+---------------+

If we wanted to **drill down** to the FIPS counties, we'd need to simulate an elevation for those counties that don't exist in `national`.

Here's the first step in that process, which creates a simulated value for *every* county in `fips_counties`.
* The value is simulated from a normal distribution using that state's elevation statistics (average, standard deviation).
* Just like a Python package, we would need to import `tablefunc` in order to use the `normal_rand` function.

In [22]:
%sql CREATE EXTENSION IF NOT EXISTS tablefunc;

Running query in 'postgresql://localhost:5432/gnis'

++
||
++
++

In [23]:
%%sql
WITH state_cty AS
(SELECT s.state_numeric, f.fips as county_numeric, s.avg, s.stddev, s.count
  FROM state_elevations s, fips_counties f
  WHERE s.state_numeric = f.state_numeric
)
SELECT s.*,
       n.n AS elev_in_m,
       true as elev_in_m_sim -- user-facing flag
  FROM state_cty s,
       LATERAL normal_rand(CAST(s.count AS INTEGER), s.avg, s.stddev) AS n
LIMIT 10;

Running query in 'postgresql://localhost:5432/gnis'

10 rows affected.

+---------------+----------------+--------------------+--------------------+-------+--------------------+---------------+
| state_numeric | county_numeric |        avg         |       stddev       | count |     elev_in_m      | elev_in_m_sim |
+---------------+----------------+--------------------+--------------------+-------+--------------------+---------------+
|       1       |      1000      | 146.37888198757764 | 102.92185851771194 |  339  | 51.721614560268904 |      True     |
|       1       |      1000      | 146.37888198757764 | 102.92185851771194 |  339  | 107.8310348463605  |      True     |
|       1       |      1000      | 146.37888198757764 | 102.92185851771194 |  339  | 165.86442968492045 |      True     |
|       1       |      1000      | 146.37888198757764 | 102.92185851771194 |  339  | 315.24286426933725 |      True     |
|       1       |      1000      | 146.37888198757764 | 102.92185851771194 |  339  | 28.86225695186829  |      True     |
|       1       |      1000      | 146.37888198757764 | 102.92185851771194 |  339  | 254.5655984277501  |      True     |
|       1       |      1000      | 146.37888198757764 | 102.92185851771194 |  339  | 271.1715507581894  |      True     |
|       1       |      1000      | 146.37888198757764 | 102.92185851771194 |  339  | 177.92946929141135 |      True     |
|       1       |      1000      | 146.37888198757764 | 102.92185851771194 |  339  | 413.3934000119458  |      True     |
|       1       |      1000      | 146.37888198757764 | 102.92185851771194 |  339  | 379.5505660486596  |      True     |
+---------------+----------------+--------------------+--------------------+-------+--------------------+---------------+

# Assembling an Explicit Hierarchy

In [24]:
## we'll use the Lahman baseball database in our initial examples today.
## replace the database connection with a database of your own!
%reload_ext sql
%sql postgresql://localhost:5432/baseball

Connecting and switching to connection postgresql://localhost:5432/baseball

Two relations have the pieces of the hierarchy we want:

In [25]:
%sql SELECT * FROM Appearances WHERE year_id > 1970 LIMIT 2;

Running query in 'postgresql://localhost:5432/baseball'

2 rows affected.

+---------+---------+-------+-----------+-------+-----+-----------+-----------+-----+-----+------+------+------+------+------+------+------+------+------+------+------+
| year_id | team_id | lg_id | player_id | g_all |  gs | g_batting | g_defense | g_p | g_c | g_1b | g_2b | g_3b | g_ss | g_lf | g_cf | g_rf | g_of | g_dh | g_ph | g_pr |
+---------+---------+-------+-----------+-------+-----+-----------+-----------+-----+-----+------+------+------+------+------+------+------+------+------+------+------+
|   1971  |   ATL   |   NL  | aaronha01 |  139  | 129 |    139    |    129    |  0  |  0  |  71  |  0   |  0   |  0   |  0   |  0   |  60  |  60  |  0   |  10  |  0   |
|   1971  |   ATL   |   NL  | aaronto01 |   25  |  10 |     25    |     18    |  0  |  0  |  11  |  0   |  7   |  0   |  0   |  0   |  0   |  0   |  0   |  8   |  0   |
+---------+---------+-------+-----------+-------+-----+-----------+-----------+-----+-----+------+------+------+------+------+------+------+------+------+------+------+

In [26]:
%sql SELECT * FROM Teams LIMIT 1;

Running query in 'postgresql://localhost:5432/baseball'

1 rows affected.

+---------+-------+---------+-----------+--------+------+----+-------+----+----+--------+-------+-------+-------+-----+------+-----+-----+-----+----+----+----+----+----+------+------+-----+-----+------+----+-----+----+--------+-----+-----+-----+-----+-----+----+-------+----------------------+---------------------+------------+-----+-----+-----------+-----------------+--------------+
| year_id | lg_id | team_id | franch_id | div_id | rank | g  | ghome | w  | l  | divwin | wcwin | lgwin | wswin |  r  |  ab  |  h  | h2b | h3b | hr | bb | so | sb | cs | hbp  |  sf  |  ra |  er | era  | cg | sho | sv | ipouts |  ha | hra | bba | soa |  e  | dp |   fp  |         name         |         park        | attendance | bpf | ppf | team_idbr | team_idlahman45 | team_idretro |
+---------+-------+---------+-----------+--------+------+----+-------+----+----+--------+-------+-------+-------+-----+------+-----+-----+-----+----+----+----+----+----+------+------+-----+-----+------+----+-----+----+--------+-----+-----+-----+-----+-----+----+-------+----------------------+---------------------+------------+-----+-----+-----------+-----------------+--------------+
|   1871  |   NA  |   BS1   |    BNA    |  None  |  3   | 31 |  None | 20 | 10 |  None  |  None |   N   |  None | 401 | 1372 | 426 |  70 |  37 | 3  | 60 | 19 | 73 | 16 | None | None | 303 | 109 | 3.55 | 22 |  1  | 3  |  828   | 367 |  2  |  42 |  23 | 243 | 24 | 0.834 | Boston Red Stockings | South End Grounds I |    None    | 103 |  98 |    BOS    |       BS1       |     BS1      |
+---------+-------+---------+-----------+--------+------+----+-------+----+----+--------+-------+-------+-------+-----+------+-----+-----+-----+----+----+----+----+----+------+------+-----+-----+------+----+-----+----+--------+-----+-----+-----+-----+-----+----+-------+----------------------+---------------------+------------+-----+-----+-----------+-----------------+--------------+

Let's join these two to make our hierarchy! Which way should we make this?

In [27]:
%%sql
SELECT a.player_id, a.team_id, t.div_id, a.*
FROM Appearances a
NATURAL JOIN Teams t
WHERE a.year_id = 2015
LIMIT 100;

Running query in 'postgresql://localhost:5432/baseball'

100 rows affected.

+-----------+---------+--------+---------+-----------+-------+-------------+-------+-----+-----------+-----------+-----+-----+------+------+------+------+------+------+------+------+------+------+------+
| player_id | team_id | div_id | year_id | team_id_1 | lg_id | player_id_1 | g_all |  gs | g_batting | g_defense | g_p | g_c | g_1b | g_2b | g_3b | g_ss | g_lf | g_cf | g_rf | g_of | g_dh | g_ph | g_pr |
+-----------+---------+--------+---------+-----------+-------+-------------+-------+-----+-----------+-----------+-----+-----+------+------+------+------+------+------+------+------+------+------+------+
| alvarda02 |   BAL   |   E    |   2015  |    BAL    |   AL  |  alvarda02  |   12  |  10 |     12    |     12    |  0  |  0  |  0   |  0   |  0   |  0   |  0   |  1   |  12  |  12  |  0   |  0   |  0   |
| brachbr01 |   BAL   |   E    |   2015  |    BAL    |   AL  |  brachbr01  |   62  |  0  |     5     |     62    |  62 |  0  |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |
| brittza01 |   BAL   |   E    |   2015  |    BAL    |   AL  |  brittza01  |   64  |  0  |     2     |     64    |  64 |  0  |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |
| cabrace01 |   BAL   |   E    |   2015  |    BAL    |   AL  |  cabrace01  |   2   |  0  |     0     |     2     |  2  |  0  |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |
| cabreev01 |   BAL   |   E    |   2015  |    BAL    |   AL  |  cabreev01  |   29  |  28 |     29    |     28    |  0  |  0  |  0   |  2   |  0   |  27  |  0   |  0   |  0   |  0   |  0   |  0   |  1   |
|  chenwe02 |   BAL   |   E    |   2015  |    BAL    |   AL  |   chenwe02  |   31  |  31 |     0     |     31    |  31 |  0  |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |
| clevest01 |   BAL   |   E    |   2015  |    BAL    |   AL  |  clevest01  |   30  |  24 |     30    |     10    |  0  |  9  |  1   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  18  |  4   |  0   |
| davisch02 |   BAL   |   E    |   2015  |    BAL    |   AL  |  davisch02  |  160  | 159 |    160    |    138    |  0  |  0  | 111  |  0   |  0   |  0   |  0   |  0   |  30  |  30  |  22  |  0   |  0   |
| deazaal01 |   BAL   |   E    |   2015  |    BAL    |   AL  |  deazaal01  |   30  |  27 |     30    |     27    |  0  |  0  |  0   |  0   |  0   |  0   |  19  |  0   |  13  |  27  |  0   |  3   |  0   |
| drakeol01 |   BAL   |   E    |   2015  |    BAL    |   AL  |  drakeol01  |   13  |  0  |     1     |     13    |  13 |  0  |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |
| flahery01 |   BAL   |   E    |   2015  |    BAL    |   AL  |  flahery01  |   91  |  81 |     91    |     90    |  0  |  0  |  11  |  56  |  8   |  15  |  1   |  0   |  5   |  6   |  0   |  2   |  3   |
| garcija03 |   BAL   |   E    |   2015  |    BAL    |   AL  |  garcija03  |   21  |  0  |     3     |     21    |  21 |  0  |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |
| gausmke01 |   BAL   |   E    |   2015  |    BAL    |   AL  |  gausmke01  |   25  |  17 |     1     |     25    |  25 |  0  |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |
| givenmy01 |   BAL   |   E    |   2015  |    BAL    |   AL  |  givenmy01  |   22  |  0  |     1     |     22    |  22 |  0  |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |
| gonzami03 |   BAL   |   E    |   2015  |    BAL    |   AL  |  gonzami03  |   26  |  26 |     1     |     26    |  26 |  0  |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |
+-----------+---------+--------+---------+-----------+-------+-------------+-------+-----+-----------+-----------+-----+-----+------+------+------+------+------+------+------+------+------+------+------+
Truncated to displaylimit of 15.

In [28]:
%%sql
CREATE OR REPLACE VIEW bball_tree AS (
    SELECT DISTINCT
        a.player_id, a.team_id, t.div_id,
        a.lg_id, a.year_id
    FROM appearances a
    NATURAL JOIN teams t
);

Running query in 'postgresql://localhost:5432/baseball'

++
||
++
++

In [29]:
%sql SELECT * FROM bball_tree LIMIT 25;

Running query in 'postgresql://localhost:5432/baseball'

25 rows affected.

+-----------+---------+--------+-------+---------+
| player_id | team_id | div_id | lg_id | year_id |
+-----------+---------+--------+-------+---------+
| gumbeha01 |   NY1   |  None  |   NL  |   1935  |
| gradymi01 |   SLN   |  None  |   NL  |   1897  |
| deshoji01 |   WS1   |  None  |   AL  |   1938  |
| prattla01 |   BRF   |  None  |   FL  |   1915  |
| thompsa01 |   PHI   |  None  |   NL  |   1890  |
| hollica01 |   DET   |  None  |   AL  |   1922  |
|  halege01 |   SLA   |  None  |   AL  |   1916  |
| mamaual01 |   NYA   |  None  |   AL  |   1924  |
| henryji01 |   BOS   |  None  |   AL  |   1937  |
| cristch01 |   PHI   |  None  |   NL  |   1906  |
| mooreed01 |   BSN   |  None  |   NL  |   1926  |
| gerbewa01 |   SLA   |  None  |   AL  |   1917  |
|  westma02 |   BSN   |  None  |   NL  |   1940  |
|  ryanbl01 |   NY1   |  None  |   NL  |   1938  |
| dormare01 |   CLE   |  None  |   AL  |   1928  |
+-----------+---------+--------+-------+---------+
Truncated to displaylimit of 15.

### Revisiting the Home Run Query

Recall our old home run query:

In [30]:
%%sql
SELECT name_first, name_last, year_id,
       MIN(hr), MAX(hr), AVG(hr), STDDEV(hr), SUM(hr)
FROM batting b, people p
WHERE b.player_id = p.player_id
GROUP BY name_last, name_first, year_id
ORDER BY max DESC
LIMIT 10;

Running query in 'postgresql://localhost:5432/baseball'

10 rows affected.

+------------+-----------+---------+-----+-----+---------------------+--------+-----+
| name_first | name_last | year_id | min | max |         avg         | stddev | sum |
+------------+-----------+---------+-----+-----+---------------------+--------+-----+
|   Barry    |   Bonds   |   2001  |  73 |  73 | 73.0000000000000000 |  None  |  73 |
|    Mark    |  McGwire  |   1998  |  70 |  70 | 70.0000000000000000 |  None  |  70 |
|   Sammy    |    Sosa   |   1998  |  66 |  66 | 66.0000000000000000 |  None  |  66 |
|    Mark    |  McGwire  |   1999  |  65 |  65 | 65.0000000000000000 |  None  |  65 |
|   Sammy    |    Sosa   |   2001  |  64 |  64 | 64.0000000000000000 |  None  |  64 |
|   Sammy    |    Sosa   |   1999  |  63 |  63 | 63.0000000000000000 |  None  |  63 |
|   Roger    |   Maris   |   1961  |  61 |  61 | 61.0000000000000000 |  None  |  61 |
|    Babe    |    Ruth   |   1927  |  60 |  60 | 60.0000000000000000 |  None  |  60 |
|    Babe    |    Ruth   |   1921  |  59 |  59 | 59.0000000000000000 |  None  |  59 |
| Giancarlo  |  Stanton  |   2017  |  59 |  59 | 59.0000000000000000 |  None  |  59 |
+------------+-----------+---------+-----+-----+---------------------+--------+-----+

Set up for roll up/drill down on `bball_tree` hierarchy.
* Join each (raw) person with the associated `bball_tree` entry by `(playerid, yearid)` in a CTE
* Use this result for roll-up and drill-down.

(blank space before we get to the next exercise....)
<br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>

In [31]:
%%sql
WITH batting_tree AS (
    SELECT b.*, t.div_id
    FROM batting b, bball_tree t
    WHERE b.player_id = t.player_id
      AND b.year_id = t.year_id
)
SELECT name_first, name_last,
       bt.team_id, bt.lg_id, bt.div_id, bt.year_id,
       MIN(hr), MAX(hr), AVG(hr), STDDEV(hr), SUM(hr)
FROM batting_tree bt, people p
WHERE bt.player_id = p.player_id
GROUP BY bt.player_id, bt.team_id, bt.lg_id, bt.div_id, bt.year_id, name_last, name_first
ORDER BY max DESC
LIMIT 10;

Running query in 'postgresql://localhost:5432/baseball'

10 rows affected.

+------------+-----------+---------+-------+--------+---------+-----+-----+---------------------+--------+-----+
| name_first | name_last | team_id | lg_id | div_id | year_id | min | max |         avg         | stddev | sum |
+------------+-----------+---------+-------+--------+---------+-----+-----+---------------------+--------+-----+
|   Barry    |   Bonds   |   SFN   |   NL  |   W    |   2001  |  73 |  73 | 73.0000000000000000 |  None  |  73 |
|    Mark    |  McGwire  |   SLN   |   NL  |   C    |   1998  |  70 |  70 | 70.0000000000000000 |  None  |  70 |
|   Sammy    |    Sosa   |   CHN   |   NL  |   C    |   1998  |  66 |  66 | 66.0000000000000000 |  None  |  66 |
|    Mark    |  McGwire  |   SLN   |   NL  |   C    |   1999  |  65 |  65 | 65.0000000000000000 |  None  |  65 |
|   Sammy    |    Sosa   |   CHN   |   NL  |   C    |   2001  |  64 |  64 | 64.0000000000000000 |  None  |  64 |
|   Sammy    |    Sosa   |   CHN   |   NL  |   C    |   1999  |  63 |  63 | 63.0000000000000000 |  None  |  63 |
|   Roger    |   Maris   |   NYA   |   AL  |  None  |   1961  |  61 |  61 | 61.0000000000000000 |  None  |  61 |
|    Babe    |    Ruth   |   NYA   |   AL  |  None  |   1927  |  60 |  60 | 60.0000000000000000 |  None  |  60 |
|    Babe    |    Ruth   |   NYA   |   AL  |  None  |   1921  |  59 |  59 | 59.0000000000000000 |  None  |  59 |
| Giancarlo  |  Stanton  |   MIA   |   NL  |   E    |   2017  |  59 |  59 | 59.0000000000000000 |  None  |  59 |
+------------+-----------+---------+-------+--------+---------+-----+-----+---------------------+--------+-----+

# [Extra] Load in the database from scratch

We download the database, unzip it, load it into pandas, then export to a new database via `jupysql` cell magic.

**CAUTION**: This may crash your DataHub instance. The file is pretty big....

**As of Fall 2024: The link to this file from the USGS is now dead... we'll need to find a new source.**

The direct zip download of this file is [here](https://geonames.usgs.gov/docs/stategaz/NationalFile.zip).

In [38]:
# first download and unzip the data
!mkdir -p data
!wget https://geonames.usgs.gov/docs/stategaz/NationalFile.zip -P data/
!unzip -u data/NationalFile.zip -d data/

--2024-10-08 22:31:42--  https://geonames.usgs.gov/docs/stategaz/NationalFile.zip
Resolving geonames.usgs.gov (geonames.usgs.gov)... 137.227.239.220, 2001:49c8:8000:121d::76
Connecting to geonames.usgs.gov (geonames.usgs.gov)|137.227.239.220|:443... connected.
HTTP request sent, awaiting response... 503 Service Unavailable
2024-10-08 22:31:43 ERROR 503: Service Unavailable.

unzip:  cannot find or open data/NationalFile.zip, data/NationalFile.zip.zip or data/NationalFile.zip.ZIP.

In [33]:
import os
fname = os.path.join("data", "NationalFile_20210825.txt")
fname

'data/NationalFile_20210825.txt'

In [34]:
!du -h {fname} # big file

du: cannot access 'data/NationalFile_20210825.txt': No such file or directory

In [35]:
!head -c 1024 {fname}

head: cannot open 'data/NationalFile_20210825.txt' for reading: No such file or directory

In [36]:
# next, load it into pandas
import pandas as pd

national = pd.read_csv("data/NationalFile_20210825.txt", delimiter="|")
national.head(2)

FileNotFoundError: [Errno 2] No such file or directory: 'data/NationalFile_20210825.txt'

In [37]:
national = national.rename(columns=dict([(col, col.lower().strip()) for col in national.columns]))
national.head(2)

NameError: name 'national' is not defined

Next, get a table sample in pandas.

In [ ]:
import numpy as np

p = 0.005 # fraction, not percentage

np.random.seed(42)
national['keep_bool'] = np.random.random(len(national)) < p
national['keep_bool'].value_counts()

In [ ]:
national = national[national['keep_bool']].drop(columns=['keep_bool'])
national

Now, export to SQL

In [ ]:
!psql -h localhost -d gnis -c 'SELECT pg_terminate_backend(pg_stat_activity.pid) FROM pg_stat_activity WHERE datname = current_database() AND pid <> pg_backend_pid();'
!psql -h localhost -c 'DROP DATABASE IF EXISTS gnis'
!psql -h localhost -c 'CREATE DATABASE gnis'

In [ ]:
%reload_ext sql
%sql postgresql://127.0.0.1:5432/gnis

In [ ]:
%sql --persist-replace national

In [ ]:
%sql ALTER TABLE national DROP COLUMN index;

Now, export to file with `pgdump`

In [ ]:
!pg_dump -h localhost --encoding utf8 gnis -f data/gnis.sql

Finally, run the beginning of this notebook again

In [ ]:
!du -h data/gnis.sql

## FIPS

Federal Information Processing System (FIPS) Codes for States and Counties

Manually download the file from this link (https://transition.fcc.gov/oet/info/maps/census/fips/fips.txt) and save it in `data/`.
* `wget` does not work here; likely the FCC website only accepts HTTPS connections to deter from server attacks.

In [ ]:
!wget https://transition.fcc.gov/oet/info/maps/census/fips/fips.txt -P data/

In [ ]:
import pandas as pd
import re

In [ ]:
with open('data/fips.txt', 'r') as f:
    lines = f.readlines()

In [ ]:
COUNTY_STARTS = 69
OFFSET = 3 # the start of the data itself, after headers

In [ ]:
re.match('\s+(\d+)\s+(\w+)', lines[COUNTY_STARTS+3]).groups()

In [ ]:
splits = [re.match('\s+(\d+)\s+(.*)', line).groups()
          for line in 
          lines[COUNTY_STARTS+OFFSET:]]
splits[0]

**For later**: There is a significant discrepancy between the number of counties created and the number of lines remaining in our dataset. We encourage you to investigate this!

In [ ]:
len(lines), len(splits)

> FIPS codes are numbers which uniquely identify geographic areas.  The number of 
digits in FIPS codes vary depending on the level of geography.  State-level FIPS
codes have two digits, county-level FIPS codes have five digits of which the 
first two are the FIPS code of the state to which the county belongs.  When 
using the list below to look up county FIPS codes, it is advisable to first look
up the FIPS code for the state to which the county belongs.  This will help you
identify the right section of the list while scrolling down, which can be
important since there are over 3000 counties and county-equivalents (e.g.
independent cities, parishes, boroughs) in the United States.

In [ ]:
fips_counties = pd.DataFrame(data=splits, columns=['fips', 'county'])
fips_counties['state_numeric'] = fips_counties['fips'].str[:2].astype(int)
fips_counties['fips'] = fips_counties['fips'].astype(int)
fips_counties = fips_counties.set_index('fips')
fips_counties

In [ ]:
%reload_ext sql
%sql postgresql://127.0.0.1:5432/gnis

In [ ]:
%sql --persist-replace fips_counties

Now, export to file with `pgdump`. This exports both `national` and `fips_counties` relations to the same `gnis.sql` database dump.

In [ ]:
!pg_dump -h localhost --encoding utf8 gnis -f data/gnis.sql

Finally, run the beginning of this notebook again

In [ ]:
!du -h data/gnis.sql